{% extends 'base.html' %}

{% from 'macros/_formhelpers.html' import render_field %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>We did clone instagram.</h1>

    <div>
        <h3>This is Instaclone, as the name suggests, we did clone instagram.
            Start searching for users now!
        </h3>
        <div>
            <div>
                <a href="{{url_for(endpoint='users.login')}}">Login</a>
            </div>
            <div>
                <a href="{{url_for(endpoint='users.registration')}}">Register</a>
            </div>
        </div>

    </div>

     <form action="" method="post">

        {{ render_field(form.search_item) }}

        <input type="submit" value="Search">
     </form>
{% endblock %}
